<form class="edit-form">
    <div>Book name: </div>
    <input type="text", class="edited-book-name", value="{{title}}"/><br/>
    <input type="button", value="Edit Title" class="edit-title-button update-button"/><br/>

    <div>Author name: </div>
    <input type="text", class="edited-author-name", value="{{author}}"/><br/>
    <input type="button", value="Edit Author" class="edit-author-button update-button", class="update-button"/><br/>

    <div>ISBN: </div>
    <input type="text", class="edited-isbn", value="{{isbn}}"/><br/>
    <input type="button", value="Edit ISBN" class="edit-isbn-button update-button", class="update-button"/><br/>
</form>